/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {
  .carousel-item img {
    height: unset;
    width: 100%;
  }

  .h-60vh {
    height: unset;
  }

  .w-400{
    width: 100%;
  }

  .floating-left {
    padding: 10px;
  }

  .floating-left ul li .fab {
    font-size: 1.2rem;
  }

  .floating-left ul :not(:last-child) {
    margin-bottom: 10px;
  }

  .slick-slider .slick-slide {
    padding: 15px 5px;
  }

  .h-250 {
    height: 150px;
  }

  #blog .card-text,
  .lead {
    font-size: 12px;
  }

  #testimonial {
    height: auto;
  }

  #gallery .col-md-4 {
    height: 100px;
  }

  #gallery img {
    height: 100px;
  }

  .about-page-container .card {
    border-radius: 15px;
  }

  #testimonial .slick-dots {
    padding-bottom: 20px;
  }

  .about-page-container .card {
    height: auto;
  }

  .library img, .hostel img{
    height: unset;
    width: 100%;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
}
