:root{
    --primary-color : #FDA72C;
    --secondary-color : #EF4C53;
    --link-color : #0A1557;
    --link-visited : #5D0980;
}

.primary-color{
    color: var(--primary-color);
}

.primary-color-imp{
    color: var(--primary-color) !important;
}

.secondary-color{
    color: var(--secondary-color);
}

.primary-bg{
    background: var(--primary-color);
}
.secondary-bg{
    background: var(--secondary-color);
}
/* Sizing */

.font-14{
    font-size: 14px;
}

.hover{
    transition: 0.2s ease;
}

.hover:hover{
    transform: scale(1.05);
}







/* Font weight */

.font-bold-100{
    font-weight: 100;
}
.font-bold-200{
    font-weight: 200;
}
.font-bold-300{
    font-weight: 300;
}
.font-bold-400{
    font-weight: 400;
}
.font-bold-500{
    font-weight: 500;
}
.font-bold-600{
    font-weight: 600;
}
.font-bold-700{
    font-weight: 700;
}




/* Height */

.h-60vh{
    height: 60vh;
}
.h-100vh{
    height: 100vh;
}
.h-250{
    height: 250px;
}
.h-300{
    height: 300px;
}


/* Image */
.object-fit-center{
    object-fit: cover;
}